* {
  padding: 0%;
  margin: 0%;
}

.main {
  background-color: #252b42;
  width: 100%;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
}
.headContainer {
  padding: 2%;
}
#heading {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.1px;
}
.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.linkContainer a {
  color: white;
  text-decoration: none;
  gap: 25px;
  margin-inline: 2%;
  font-size: 1.2rem;
  font-weight: 700;
}
/* .buttonContainer {
  width: 20%;
} */
#buttonDetails {
  display: inline-flex;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: rgb(35, 166, 240);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5%;
  border: none;
  margin-right: 10px;
}
#buttonDetails:active {
  background-color: #fff;
  color: #23a6f0;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 3%;
}
#welcomeDetail {
  color: rgb(35, 166, 240);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding-bottom: 2%;
}
#descheadDetail {
  color: white;
  font-size: 3.625rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-bottom: 3%;
  font-style: normal;
}
#descDetail {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.featureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  gap: 0.2rem;
}
.featureOne {
  display: block;
  /* width: 15rem;
  height: 13rem; */
  background-color: white;
  /* padding: 10px;
  margin: 15px; */
  border-radius: 10px;
}
.firstIcon {
  background-color: rgb(255, 220, 209);
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  margin-bottom: 5%;
}
.firstIcon i {
  color: rgb(231, 64, 64);
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 20px;
  padding: 12px;
}
.featureOne hr {
  width: 3.1rem;
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(231, 64, 64);
  border-image: initial;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
}
.featureDesc {
  color: rgb(55, 55, 55);
  font-size: 1rem;
  font-weight: 400;
}
.featureTwo {
  display: block;
  /* width: 15rem;
  height: 13rem; */
  background-color: white;
  /* padding: 10px;
  margin: 15px; */
  border-radius: 10px;
}
.SecondIcon {
  background-color: rgb(185, 234, 168);
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border-color: rgb(0, 0, 0);
  margin-bottom: 5%;
}
.SecondIcon i {
  color: rgb(45, 192, 113);
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 20px;
  padding: 12px;
}
.featureHeading {
  color: rgb(37, 43, 66);
  font-size: 1.5rem;
  letter-spacing: 0.1px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.featureTwo hr {
  width: 3.1rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(231, 64, 64);
  border-image: initial;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.featureThree {
  display: block;
  /* width: 15rem;
  height: 13rem; */
  background-color: rgb(35, 166, 240);
  /* padding: 10px; */
  /* margin: 15px; */
  border-radius: 10px;
}
.thirdIcon {
  background-color: rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  margin-bottom: 5%;
}
.thirdIcon i {
  color: rgb(35, 166, 240);
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 20px;
  padding: 12px;
}
.featureThree h5 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  letter-spacing: 0.1px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.featureThree hr {
  width: 3.1rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
}
.featureThree p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
}
.PackageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10%;
  gap: 20%;
}
.packageSubContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.packageSubContainer hr {
  width: 5.8rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(231, 64, 64);
  border-image: initial;
  margin-left: 5%;
}
#packageHead {
  color: rgb(37, 43, 66);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 10%;
}
#packageDesc {
  color: rgb(115, 115, 115);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: 10%;
}
#packageButton {
  color: rgb(35, 166, 240);
  font-weight: bold;
  font-size: 0.8rem;
  width: 6rem;
  height: 1.5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: left;
}
.imageSubContainer {
  position: relative;
  /* width: 90%; */
}
.blueBar {
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgb(226, 246, 255);
  position: absolute;
  left: -65px;
}
#mainDetail {
  width: 100%;
  border-radius: 4%;
}
#graphDetail {
  width: 40%;
  position: absolute;
  top: 2%;
  left: -25%;
}
#dataDetail {
  width: 80%;
  position: absolute;
  bottom: -20%;
  left: -20%;
}
.pinkBar {
  width: 2.1rem;
  height: 3.5rem;
  background-color: rgb(255, 220, 224);
  position: absolute;
  right: -10%;
  bottom: 2%;
}
.expertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  width: 90vw;
  align-self: center;
  margin-inline: auto;
}
.mainExpert {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5%;
  /* padding-right: 45%; */
}
#expertTag {
  color: rgb(35, 166, 240);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 2%;
}
#expertTitle {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
#expertDesc {
  width: 100%;
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 1rem;
}
.expertDetailCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  padding-right: 1%;
  /* gap: 5rem; */
}
.card_1 {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}
.cardImage {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 10%;
}
.cardDesc {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 5%;
}
.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5%;
}
.ratingContainer i {
  color: rgb(243, 205, 3);
}
.cardName {
  color: rgb(37, 43, 66);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5%;
}
.cardDesignation {
  color: rgb(115, 115, 115);
  font-size: 0.8rem;
  font-weight: 700;
}
.card_2 {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}
.OnlineContainer {
  /* background-color: #252b42; */
  align-self: center;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 10%; */
  margin-inline: auto;
}
.mainOnline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5%;
  /* padding-right: 35%; */
}
#onlineTag {
  color: rgb(35, 166, 240);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 2%;
}
#onlineTitle {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
#onlineDesc {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 1rem;
}
.onlineDescRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  /* padding-right: 15%; */
}
.onlineCard1 {
  position: relative;
  width: 22%;
  display: block;
}
.imageInsides {
  width: 100%;
  height: auto;
}
#card1Detail {
  width: 100%;
  height: 18.75rem;
  /* height: auto; */
  object-fit: cover;
}
.onlineDetail {
  background-color: #f4f5f7;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
#subDetail {
  color: #23a6f0;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.ratingLabel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #252b42;
  border-radius: 8%;
  width: 25%;
  /* padding-inline: 12px; */
  /* padding-block: 10px; */
}
.ratingLabel i {
  color: rgb(243, 205, 3);
  font-size: 0.8rem;
}
.ratingValue {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;

  margin-bottom: 0px;

  /* margin-inline: 5px; */
}
.topicDetail {
  color: #252b42;
  font-size: 1rem;
  font-weight: 700;
}
.paraDetail {
  color: #737373;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.saleRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2%;
}
.saleRow i {
  color: #737373;
  width: 1rem;
  height: 1rem;
}
.saleValue {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}
.costRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin-top: 5%; */
  gap: 5px;
}
.cost1 {
  color: #bdbdbd;
  font-size: 1rem;
  font-weight: 700;
}
.cost2 {
  color: #40bb15;
  font-size: 1rem;
  font-weight: 700;
}
.detailRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.detailRow1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.detailRow2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.detailRow3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.detailElements {
  color: #737373;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0px;
}
.detailRow1 i {
  color: #23a6f0;
}
.detailRow2 i {
  color: #e77c40;
}
.detailRow3 i {
  color: #23a6f0;
}
.cardButton {
  color: #23a6f0;
  border-radius: 5%;
  border: 1px solid #23a6f0;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
}
.cardButton:hover {
  background-color: #23a6f0;
  color: #fff;
}
.saleLabel {
  background-color: #e74040;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 3.1rem;
  height: 1.5rem; */
}
.imageIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imageIcons i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 10%;
}
.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footerTag {
  color: rgb(35, 166, 240);
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 2%;
}
#footerTitle {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 2%;
}
#footerDesc {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 1rem;
}
.inputBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 1%;
  gap: 5%;
}
#inputBarDetail {
  width: 35.6rem;
  height: 3.6rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  padding-left: 1rem;
}
#inputButton {
  color: #fff;
  background-color: #23a6f0;
  border: 1px solid #e6e6e6;
  width: 7.3rem;
  height: 3.6rem;
  font-weight: 400;
  font-size: 14px;
}
#inputButton:active {
  color: #23a6f0;
  background-color: #fff;
}
.footerDetail {
  background-color: #252b42;
  padding: 3%;
}
/* .footerSubContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
} */
.firstGrid {
  margin-bottom: 15px;
}
.firstGrid .gridHeader {
  margin-bottom: 15px;
}
.gridHeader {
  color: #fff;
  font-size: 1.5rem;
  /* font-weight: 700; */
}
#gridDesc {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.quickIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  padding-top: 2%;
}
.quickIcons i {
  color: #23a6f0;
}
.listStyle {
  display: flex;
  flex-direction: column;
  text-align: left;
}
li {
  list-style-type: none;
  margin-bottom: 15px;
}
a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}
.lastContainer {
  padding: 2%;
}
#last {
  color: #737373;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
/*  */
/* @media only screen and (max-width: 600px) {
  .featureContainer {
    display: flex;
    flex-direction: column;
  }
  #heading {
    font-size: 1.3rem;
  }
  .main {
    padding: 8%;
  }
  .PackageContainer {
    display: flex;
    flex-direction: column;
    padding: 8%;
  }
  .expertContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 8%;
  }
  .expertDetailCard {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .OnlineContainer {
    display: flex;
    flex-direction: column;
    padding: 8%;
  }
  .onlineDescRow {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 8%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #inputBarDetail {
    width: auto;
  }
  .Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #buttonDetails {
    width: 90%;
  }

  .card_1 {
    display: block;
    text-align: center;
    width: fit-content;
    height: 17rem;
  }
  .cardImage {
    width: auto;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 10%;
  }
  .cardDesc {
    color: rgb(115, 115, 115);
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 5%;
  }
  .ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }
  .ratingContainer i {
    color: rgb(243, 205, 3);
  }
  .cardName {
    color: rgb(37, 43, 66);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5%;
  }
  .cardDesignation {
    color: rgb(115, 115, 115);
    font-size: 0.8rem;
    font-weight: 700;
  }
  .card_2 {
    display: block;
    text-align: center;
    width: fit-content;
    height: 17rem;
  }
  .headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .linkContainer {
    display: none;
  }
  #welcomeDetail {
    font-size: 1.3rem;
  }
  .packageSubContainer {
    width: 100%;
  }
  #packageHead {
    font-size: 1.4rem;
    margin-top: 25px;
  }
  #descheadDetail {
    color: white;
    font-size: 1.8rem;
    font-style: normal;
    margin-top: 25px;
  }
  #descDetail {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  .mainExpert {
    padding-right: 0%;
  }
  #expertTitle {
    font-size: 1.5rem;
  }
  .mainOnline {
    padding-right: 0%;
  }
  #onlineTitle {
    font-size: 1.5rem;
  }
  #footerTitle {
    font-size: 1.5rem;
  }
  .imageSubContainer {
    margin-top: 10%;
  }
  .blueBar {
    left: -50px;
  }
  #graphDetail {
    left: -10%;
  }
  #dataDetail {
    left: -5%;
  }
  .pinkBar {
    right: -13%;
  }
  #mainDetail {
    right: 30%;
  }
  .footerDetail {
    padding: 8%;
    width: 100%;
  }
  .mainFooter {
    align-items: flex-start;
  }
  .onlineCard1 {
    width: 90%;
    height: auto;
  }
  .headerRow {
    justify-content: space-around;
    gap: 200%;
  }
  #last {
    font-size: 0.8rem;
  }
  .imageIcons {
    left: 30%;
  }
  .paraDetail {
    margin-top: 2%;
  }
} */
